
/*** ⬇️ Stylisations Globaux ⬇️ ***/

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Grape Nuts', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
background-color: #EEEEEE;
}

/* main{
    background: linear-gradient(#9e9da1, #485857);
} */
.container {
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* --------------------------------------- */
.container-title{
    /* border: #eee solid; */
    background-color: #00000082;
    /* display: inline-block; */
    /* width:fit-content; */
    margin: auto;
    padding: 2%;
    border-radius: 5px;
}
.title, .slogan { 
    
    color: wheat; 
    text-shadow: 1px 1px 2px rgb(24, 24, 24), 0 0 1em rgb(51, 51, 51), 0 0 0.2em rgb(51, 51, 51);
}

.subtitle {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.subtitle h3{

    position: relative;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    overflow-x: hidden;
}
.subtitle h4{

    position: relative;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    overflow-x: hidden;
    margin-top: 20px;
}
.subtitle h3::before, .subtitle h4::before {

    position: absolute;
    content: "";
    background-color: currentColor;

    bottom: 0;
    left: 50%;
    width: 70%;
    height: 0.063rem;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* --------------------------------------- */

.d-none { display: none !important; }

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3em;
}
ul {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li { 
    list-style-type: none;
 }

 li a{
    text-decoration: none;
    color: black;
 }

li:hover {

    text-decoration: underline ;
    cursor: pointer;
}

/*** ⬆️ Stylisations Globaux ⬆️ ***/

/* ------------------------------------------------------------ */


/*** ⬇️ Header & Menu ⬇️ ***/

header {
    
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* background: white; */
    /* background: linear-gradient(#9e9da1, #485857); */
    background-color:rgb(244, 236, 222);
    /* background: #333; */
    z-index: 89;

}

.logo {
    background: url(../images/coffeegame_logo.png) center center;
    background-position: center;
    background-size: cover; 
    height: 100%;
    display: flex;
    /* border-radius: 20%; */
    /* align-items: center; */
    /* margin-left: 8px; */
    width: 10%;
    /* height: 70px; */
}

.navbar {
    width: 40vh;
    /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
    background-color: rgb(244, 236, 222);
    color: #eee;
    
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 26px;
    width: 32px;
    top: 45px;
    right: 20px;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 45px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(150%,0%);
    display: flex;
    flex-direction: column;
    /* padding-left: 50px; */
    transition: transform 1.5s ease-in-out;
    text-align: center;
    background: rgb(244, 236, 222);
    color: #eee;
  }
  
  .navbar .menu-items li {
    margin-top: -5%;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

/*** ⬆️ Header & Menu ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Caroussel (Slider) ⬇️ ***/


#container_slider {

    /* background-color: rgba(0, 0, 0, 0.774); */
    width: 100%;
    height: 560px;
    margin-top: 10%;
    text-align: center;
}                   
                    
#container_slider .carrousel_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: auto;
    filter: drop-shadow(0 0 0.4rem rgb(23, 23, 23));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   



                    
#container_slider #img-1 { background-image: url(../images/carrousel-1.jpg); }  

#container_slider #img-2{ background-image: url(../images/image2carroussel.png); }   

#container_slider #img-3 { background-image: url(../images/carrousel-3.jpg); }   


#container_slider .carrousel_container .fade {

    animation-name: fade;
    animation-duration: 3s;
}

.text {

    width: 50%;
    font-size: 30px;
    text-align: center;
    color: coral;
    opacity: 0.8;
}

/*** ⬆️ Caroussel (Slider) ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Cards d'Infos ⬇️ ***/


i { font-size: 45px; }

.card {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_text {
    
    width: 100%;
    text-align: center;
    font-size: smaller;
    margin-bottom: 10%;
}

.card-icon {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0.5%;

       
}
.card-icon .icon{
    border: black solid;
    border-radius: 100%;
    padding: 10%;
}
/*** ⬆️ Cards d'Infos ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Who (Qui Sommes-Nous) ⬇️ ***/

.who {

    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    min-height: 500px;
 }

.who .who-content-img {

    flex: 1;
    background: url(../images/teamwork.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.who-content-text {

    flex: 1;
    padding: 4rem;
    background: #333;
    color: #eee;
    font-family: arial;
    text-align: justify;
    line-height : 40px;


 }

strong {

    color: #f1c40f;
    font-weight: bold;

}

/*** ⬆️ Who (Qui Sommes-Nous) ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ section pour les menus  ⬇️ ***/


#section-menu {
   max-width: 1200px;
   padding: 0 20px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;

}


.menu_name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.2em;
    color: #444444;

}

.menu-title{
     font-size: 2rem;
      text-align: center;
      padding: 5rem;
      text-transform: uppercase;
}

.menu_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    
}



.menu_card{
   
   
    width: 80%;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}

.menu_card:hover{
        transition: 0.5s;
        transform: scale(1.02);
        box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.menu_picture{
    width: 100%;
    height: 190px;
}

.menu_picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.menu_name{
    padding: 0.2rem;
}
          






/*** ⬆️ section pour les portraits ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ section des Jeux ⬇️ ***/

.gamenight {

    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    min-height: 500px;
 }

.gamenight .gamenight-content-img {

    flex: 1;
    background: url(../images/gamenight.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.gamenight-content-text {

    flex: 1;
    padding: 4rem;
    background: #333;
    color: #eee;
    font-family: arial;
    text-align: justify;
    line-height : 35px;

 }

/* .who-content-text {

    flex: 1;
    padding: 4rem;
    background: #333;
    color: #eee;
    font-family: arial;
    text-align: justify;


 }
.container_jeux{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    min-height: 500px;
}

.jeux_img{
    flex: 1;
    background: url(../images/gamenight.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jeux_text{
    width: 100%;
    height: 85vh;
    margin:  0;
    text-align: center;
    background: #333;
    color: #eee;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
} */




.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.subbouton{
    width: 80%;
    height: 100%;
    background: linear-gradient(#9e9da1, #485857);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 4%;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
}

.subbouton a{
    text-decoration: none;
    color: black;
}

.subbouton a:hover{
    text-decoration: underline;
}

/*** ⬆️ section des Jeux ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ section pour l'equipe ⬇️ ***/

#section-equipe { margin: 6% ; }

#section-equipe .container_equipe {

    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

#section-equipe .container_equipe .subcontainer_equipe {

    display: flex;
    flex-direction: column;
    margin: 0 15px;
    border: 2px solid black;
    background: #333;
    border-radius: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    
}

#section-equipe .container_equipe .subcontainer_equipe img {

    width: 100%;
    height: 250px;
    filter: drop-shadow(0 0 0.18rem black);
    border-radius: 1.5%;
    border-right: 2.5px solid rgba(65, 65, 65, 0.996)
}
#section-equipe .container_equipe .subcontainer_equipe div p {
    color: #eee;
    text-align: justify;
    font-size: smaller;
    margin: 0.8em 0.5em;
}   

/*** ⬆️ section pour l'equipe  ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ section contact ⬇️ ***/

.container_contact{
    display: flex;
    height: 90vh;
}

.container_contact-list {
    width: 50%;
    height: 70vh;
    margin: 4%;
    background: #333;
    color: #eee;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.container_contact-list ul{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.container_contact-list ul li{
    text-align: center;
    margin: 0 2% 0 2%;
    font-size: larger;
}

.bouton_contact{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbouton_contact{
    height: 50%;
    width: 50%;
    background: linear-gradient(#9e9da1, #485857);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 4%;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
}
.subbouton_contact a{
    text-decoration: none;
    color: black;
}

.subbouton_contact a:hover{
    text-decoration: underline;
}

.container_contact-img{
    width: 50%;
    height: 70vh;
    margin: 4%;
    background: url(../images/ruecommerces.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/*** ⬆️ section contact  ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Page des Jeux ⬇️ ***/

#section-game { margin: 6% 0; }

#section-game .container_game {

    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

#section-game .container_game .subcontainer_game {

    display: flex;
    margin: 0 5px;
    border: 2px solid black;
    background: #333;
    border-radius: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    
}

#section-game .container_game .subcontainer_game img {

    width: 150px;
    height: 250px;
    filter: drop-shadow(0 0 0.18rem black);
    border-radius: 1.5%;
    border-right: 2.5px solid rgba(65, 65, 65, 0.996)
}
#section-game .container_game .subcontainer_game div p {
    color: #eee;
    text-align: justify;
    font-size: smaller;
    margin: 0.8em 0.5em;
}   

/*** ⬆️ Page teams ⬆️ ***/

#teams{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-top: 1.5rem;
}

.teams_title{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

#teams .teams_picture{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}



#teams .teams_picture img{
    width: 100%;
    height: 100%;
    /* filter: drop-shadow(0 0 0.78rem #4444); */
}



.teams_card{
    height: 55vh;

}

.teams_card{
    width: 100%;
    position: absolute;
    bottom: -151px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    place-items: center;
    background-color: #444444;
    border-radius: 10px;

}




.teams_card .card {
    width: 255px;
    height: 250px;
    background-color: #d9fffc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 70px 60px -50px #444;
}
.teams_card .card:hover{
    transform: translateY(-25px);
}


.teams_card .card:nth-child(2) {
    width: 255px;
    height: 250px;
    background-color: #ffe0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}
.teams_card .card:nth-child(3) {
    width: 255px;
    height: 250px;
    background-color: #e4ffc7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}
.teams_card .card:nth-child(4) {
    width: 255px;
    height: 250px;
    background-color: #e6c892;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}
.teams_card .card:nth-child(1):hover {
    box-shadow: 0px 70px 60px -50px #ffe0e0;
}



.teams_card .card:nth-child(2):hover {
    box-shadow: 0px 70px 60px -50px #ffe0e0;
}

.teams_card .card:nth-child(3):hover {
    box-shadow: 0px 70px 60px -50px #ffe0e0;
}

.teams_card .card:nth-child(4):hover {
    box-shadow: 0px 70px 60px -50px #ffe0e0;
}

.teams_card .card:nth-child(2):hover {
    box-shadow: 0px 70px 60px -50px #ffe0e0;
}









.teams_card .card .card_picture{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 33px 60px -35px black;
    
}




.teams_card .card .card_picture img{
    width: 100%;
    height: 100%;
    
}







/* --------------------------------------------------- */

/*** ⬇️ footer ⬇️ ***/



#contact {
 padding: 10rem 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  
}


.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact-form input {
    background: #333;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    outline: 0;
    margin-bottom: 1rem;
  }


  .contact-form button {
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
    background: #f1c40f;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
  }


  .contact-form button:hover {
    background: red;
  }
  
  /*** ⬆️ footer ⬆️ ***/




  footer {
    background: #444;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    
  }





  footer p {
    margin-bottom: 0;
  }
  







/**********************************************/
/*        MEDIAS QUERIES (Responsive)         */
/**********************************************/


/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '870px' ⬇️ */
@media only screen and (max-width: 870px) {

    /* header */
    .logo{
        width: 125px;
        height: 120px;
    }
    header{
        height: 120px;
    }
    header ul{
        display: none ;
    }
    .navbar{
        display: block !important;

    }
    /*** ⬇️ Page des Jeux ⬇️ ***/
    #section-game { margin: 20% 0; }
    #section-game .container_game { flex-direction: column; }
    #section-game .container_game .subcontainer_game { margin: 3px 5px; }

    /*** ⬆️ Page des Jeux ⬆️ ***/

    /*** ⬇️ Caroussel (Slider) ⬇️ ***/
    #container_slider {

        margin-top: 20%;
        height: 360px;
    }
    #container_slider .carrousel_container {
        background-size: cover;
        
    }
    /*** ⬆️ Caroussel (Slider) ⬆️ ***/

    /*** ⬇️ section des menus ⬇️ ***/
    .container_generic { margin: 20% 0; }
    .container_generic .container_subgeneric { flex-direction: row; }
    .container_generic .container_subgeneric .subcontainer_generic { margin: 3px 5px; }
    .container_generic .container_subgeneric .subcontainer_generic img{ height:380px; }

    /*** ⬆️ section des menus  ⬆️ ***/

    /*** ⬇️ Who (Qui Sommes-Nous) ⬇️ ***/
    .who {
        flex-flow: column;
        min-height: 900%;
     }
    
    .who .who-content-img {
       min-height: 250px;
        
    }
    
    .who-content-text {
        padding: 2rem;
    
     }
    /*** ⬆️ Who (Qui Sommes-Nous)  ⬆️ ***/

    /*** ⬇️ section des Jeux ⬇️ ***/
    .gamenight {
        flex-flow: column;
        min-height: 900%;
     }
    
    .gamenight .gamenight-content-img {
       min-height: 250px;
       order: -1;
    }
    
    .gamenight-content-text {
        padding: 2rem;

    
     }
    /*** ⬆️ section des Jeux ⬆️ ***/

    /*** ⬇️ section contact ⬇️ ***/



/*** ⬆️ section contact  ⬆️ ***/

/*** ⬇️ footer ⬇️ ***/



/*** ⬆️ footer ⬆️ ***/
}
/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '870px' ⬆️ */    
@media only screen and (max-width:640px) {
    .container_generic .container_subgeneric .subcontainer_generic {
        width:48% !important;

        }
    .container_generic .container_subgeneric .subcontainer_generic img {height: 320px !important;}
    .container_generic .container_subgeneric {align-items:center; }
}
/**********************************************/
/*        MEDIAS QUERIES (Responsive)         */
/**********************************************/


@media screen and (max-width: 500px) {

   .menu_card{
    width: 100%;
   
}


.menu_cards{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
   }


   .card{
    width: 100%;
   }

}



@media screen and (max-width: 1000px) {

   .menu_card{
    width: 50%;
    margin:  0 auto;
   }


   .menu_cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }





   .card{
    width: 70%;
   }

}


@media screen and (max-width: 470px) {

    .menu_card{
     width: 100%;
     
 }
 
 
 .menu_cards{
     display: grid;
     grid-template-columns: 2fr;
     grid-template-rows: 2fr;
    }
 
 
    .card{
     width: 100%;
    }
 
 }
 
 
 
@media only screen and (max-width: 1044px) {

    #teams .teams_picture img{
       width:300px
        
    }


    
    .teams_card{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -250px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 2fr;
        place-items: center;
        border-radius: 10px;
        gap: 0.7rem;
       
    }


    #teams .teams_card .card{
     width: 200px;
     height: 200px;
    }

  #contact{
    width: 100%;
    padding: 20rem 1rem;
  }
    
  
    
    
}


