
/*** ⬇️ Stylisations Globaux ⬇️ ***/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* --------------------------------------- */

.container-title {

    background-color: #00000082;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
}

.title, .slogan { 
    
    color: wheat; 
    text-shadow: 1px 1px 2px rgb(24, 24, 24), 0 0 1em rgb(51, 51, 51), 0 0 0.2em rgb(51, 51, 51);
}

.title strong { margin-left: 10px; }

.subtitle {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    width: 100%;
}

.subtitle h2, .subtitle h3, .subtitle h4, #container-product_game .subcontainer-product_game .content-product_game h2 {

    position: relative;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    overflow-x: hidden;
}

.subtitle h2 { font-size: x-large; }
.subtitle h3 { font-size: large; }
.subtitle h4 {  font-size: larger; }

.subtitle h2::before, .subtitle h3::before, .subtitle h4::before {

    position: absolute;
    content: "";
    background-color: currentColor;

    bottom: 0;
    left: 50%;
    width: 70%;
    height: 0.063rem;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* --------------------------------------- */

.d-none { display: none !important; }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3em;
}

/* --------------------------------------- */

p { white-space: pre-line; }

strong {

    color: #f1c40f;
    font-weight: bold;
}

hr { width: 100%; }

/* --------------------------------------- */

ul {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li { list-style-type: none; }

li a {

    text-decoration: none;
    color: black;
}

/*** ⬆️ Stylisations Globaux ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Header & navbar ⬇️ ***/

header {
    
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color:rgb(244, 236, 222);
    z-index: 89;
}

header .navbar-line { width: 90%; }

header .logo {

    background: url(../images/global/coffeegame_logo.png) center center;
    background-position: center;
    background-size: cover;
    width: 10%;

}

header li:hover { text-decoration: underline; }

/* --------------------------------------- */

header .navbar {

    background-color: rgb(244, 236, 222);
    color: #eee;
    width: 90%;
}


header .navbar .nav-container {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

header .navbar .menu-items { display: flex; }


header .navbar .nav-container a {

    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 0.8rem;
}

header .navbar .nav-container a:hover { 
    
    font-weight: bold; 
    font-size: 0.7rem;
}

header .navbar .nav-container .checkbox {

    position: absolute;
    display: block;
    height: 26px;
    width: 30%;
    top: 45px;
    right: 20px;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
}

header .navbar .nav-container .hamburger-lines {

    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 45px;
    right: 25px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .navbar .nav-container .hamburger-lines .line {

    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

header .navbar .nav-container .hamburger-lines .line1 {

    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

header .navbar .nav-container .hamburger-lines .line2 { transition: transform 0.2s ease-in-out; }

header .navbar .nav-container .hamburger-lines .line3 {

    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

header .navbar .menu-items {

    padding-top: 120px;
    height: 100vh;
    width: 65%;
    transform: translate(500%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1.5s ease-in-out;
    text-align: center;
    background: rgb(244, 236, 222);
    color: #eee;
}

header .navbar .menu-items li {

    padding: auto 15px;
    margin-top: -5%;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

header .navbar .nav-container input[type="checkbox"]:checked ~ .menu-items { transform: translateX(0); }

header .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 { transform: rotate(45deg); }

header .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 { transform: scaleY(0); }

header .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 { transform: rotate(-45deg); }

header .navbar .nav-container input[type="checkbox"]:checked ~ header .logo { display: none; }

header .navbar .nav-container input[type="checkbox"]:checked ~ header .navbar-line { display: none !important; }

/*** ⬆️ Header & navbar ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Caroussel (Slider) ⬇️ ***/

#container_slider {

    width: 100%;
    height: 560px;
    margin-top: 10%;
    text-align: center;
}                   
                    
#container_slider .carrousel_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: auto;
    filter: drop-shadow(0 0 0.4rem rgb(23, 23, 23));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   

           
#container_slider #img-1 { background-image: url(../images/carrousel/carrousel-1.jpg); }  

#container_slider #img-2{ background-image: url(../images/carrousel/carrousel-2.jpg); }   

#container_slider #img-3 { background-image: url(../images/carrousel/carrousel-3.jpg); }   


#container_slider .carrousel_container .fade {

    animation-name: fade;
    animation-duration: 3s;
}

.text {

    width: 50%;
    font-size: 30px;
    text-align: center;
    color: coral;
    opacity: 0.8;
}

/*** ⬆️ Caroussel (Slider) ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Cards d'Infos ⬇️ ***/


i { font-size: 45px; }

.card {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_text {
    
    width: 100%;
    text-align: center;
    font-size: smaller;
    margin-bottom: 10%;
}

.card-icon {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0.5%;

       
}
.card-icon .icon {

    border: black solid;
    border-radius: 100%;
    padding: 10%;
}

/*** ⬆️ Cards d'Infos ⬆️ ***/

/* ------------------------------------------------------------ */

/*** ⬇️ Who (Qui Sommes-Nous) ⬇️ ***/

.who {

    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    min-height: 500px;
 }

.who .who-content-img {

    flex: 1;
    background: url(../images/global/teamwork.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.who-content-text {

    flex: 1;
    padding: 4rem;
    background: #333;
    color: #eee;
    font-family: arial;
    text-align: justify;
    line-height : 30px;
}

/*** ⬆️ Who (Qui Sommes-Nous) ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Page des Produits & Jeux ⬇️ ***/


#section-product, #section-game {

   max-width: 1200px;
   padding: 0 20px;
   margin: 200px auto 100px auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
}

#section-game { max-width: 1500px; }

#section-product .container-product, #section-game .container-game { margin: 20px 0; }

#section-product .container-product .product_name, #section-game .container-game .game_name {

    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #444444;
}

#section-product .container-product .product_name strong {  
    
    font-size: 0.7rem;
    color: #cda401; 
}

#section-product .container-product p, #section-game .container-game p { font-size: 0.85rem; }

#section-product .container-product .product_cards, #section-game .container-game .game_cards {

    display: grid;
    grid-template-rows: repeat(1, 1fr);  
    align-items: center;
    gap: 20px;
}

#section-product .container-product .product_cards { grid-template-columns: 1fr 1fr 1fr 1fr; }

#section-game .container-game .game_cards { grid-template-columns: 1fr 1fr 1fr; }

#section-product .container-product .product_card, #section-game .container-game .game_card {
   
    width: 85%;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    margin-bottom: 20px;
    cursor: pointer;
}
#section-game .container-game .game_card { 
    
    width: 100%; 
    height: 100%;
}

#section-game .container-game .game_card {
   
    display: grid;
    grid-template-rows: repeat(1, 1fr);  
    grid-template-columns: 1fr 1fr;
}

#section-product .container-product .product_card:hover, #section-game .container-game .game_card:hover {

   margin-bottom: 20px;
   transition: 0.5s;
   transform: scale(1.02);
   box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

#section-product .container-product .product_picture {

    width: 100%;
    height: 190px;
}

#section-game .container-game .game_picture {

    width: 90%;
    height: 100%;
}

#section-product .container-product .product_picture img, #section-game .container-game .game_picture img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*** ⬆️ Page des Produits & Jeux ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Section des Produits & Jeux ⬇️ ***/


#section-product_game {
   
   max-width: 1500px;
   margin: 0 auto 600px auto;
   padding: 100px 10px;
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   grid-auto-rows: 150px;
   justify-content: center;
}

#container-product_game {

    
    width: 1200px;
    height: 800px;
    background-color: #333;
    box-shadow: 0px 0px 10px 2px rgba(103, 62, 153, 0.6);
    border-radius: 10px;
}

#container-product_game .subcontainer-product_game {

    display: flex;
    justify-content: space-between;
    height: 400px;
}


#container-product_game .subcontainer-product_game .image-product_game { 

    width: 50%;
    height: auto;   
}

#container-product_game .subcontainer-product_game .image-product_game img { 

    width: 100%;
    height: 100%;
}

#container-product_game .subcontainer-product_game .image-product_game #image-products { border-top-right-radius: 10px; }
#container-product_game .subcontainer-product_game .image-product_game #image-games { border-bottom-left-radius: 10px; }

#container-product_game .subcontainer-product_game .content-product_game { 
    
    color: #eee;
    font-family: arial; 
    width: 50%;
    padding: 0 25px; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-product_game .subcontainer-product_game .content-product_game { 
    
    color: #eee;
    font-family: arial; 
    width: 50%;
    padding: 0 25px; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-product_game .subcontainer-product_game .content-product_game .button  { width: fit-content; }
#container-product_game .subcontainer-product_game .content-product_game .button a button { cursor: pointer; }

#container-product_game .subcontainer-product_game .content-product_game h2 { 
    
    padding: 20px 0;
    margin-bottom: 20px;
}

#container-product_game .subcontainer-product_game .content-product_game h2::before {

    position: absolute;
    content: "";
    background-color: currentColor;

    bottom: 15px;
    left: 50%;
    width: 70%;
    height: 0.063rem;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*** ⬆️ Section des Produits & Jeux ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Section pour l'Équipe ⬇️ ***/

#section-teams {

    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    margin-top: 1.5rem;
}
 
.teams_title {

    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

#section-teams .teams_picture {

    width: 500px;
    height: 500px;
    margin: 0 auto;
}


#section-teams .teams_picture img {

    width: 100%;
    height: 100%;
}

#section-teams .container-teams_card .teams_card { height: 55vh; }

#section-teams .container-teams_card .teams_card {

    width: 100%;
    position: absolute;
    bottom: -250px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    background-color: #444444;
    border-radius: 10px;
}

#section-teams .container-teams_card .teams_card .card {

    width: 255px;
    height: 250px;
    background-color: #d9fffc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 70px 60px -50px #444;
    cursor: pointer;
}

#section-teams .container-teams_card .teams_card .card:hover { transform: translateY(-25px); }


#section-teams .container-teams_card .teams_card .card:nth-child(2) {

    width: 255px;
    height: 250px;
    background-color: #ffe0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}

#section-teams .container-teams_card .teams_card .card:nth-child(3) {

    width: 255px;
    height: 250px;
    background-color: #e4ffc7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}

#section-teams .container-teams_card .teams_card .card:nth-child(4) {

    width: 255px;
    height: 250px;
    background-color: #e6c892;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.25s;
    align-items: center;
}

#section-teams .container-teams_card .teams_card .card:nth-child(1):hover { box-shadow: 0px 70px 60px -50px #ffe0e0; }
#section-teams .container-teams_card .teams_card .card:nth-child(2):hover { box-shadow: 0px 70px 60px -50px #ffe0e0; }
#section-teams .container-teams_card .teams_card .card:nth-child(3):hover { box-shadow: 0px 70px 60px -50px #ffe0e0; }
#section-teams .container-teams_card .teams_card .card:nth-child(4):hover { box-shadow: 0px 70px 60px -50px #ffe0e0; }
#section-teams .container-teams_card .teams_card .card:nth-child(2):hover { box-shadow: 0px 70px 60px -50px #ffe0e0; }

#section-teams .teams_card .card .card_picture {

    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 33px 60px -35px black;
}

#section-teams .container-teams_card .teams_card .card .card_picture img {

    width: 100%;
    height: 100%;
}

/*** ⬆️ Section pour l'Équipe  ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Section des Contacts ⬇️ ***/

#section-contact {

    width: 100%;
    padding: 30rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    background: #333;
}

#section-contact .container-contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#section-contact .container-contact .contact-info { width: 40%; }

#section-contact .container-contact .contact-info .container-info { 

    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    line-height: 100px;
}

#section-contact .container-contact .contact-info .container-info .icon-contact i, #section-contact .contact-map iframe { filter: drop-shadow(0 0 0.20rem black);}
    
#section-contact .container-contact .contact-info .container-info .icon-contact,  #section-contact .contact-info .container-info .text-contact { 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 25px;
    color: wheat;
}

#section-contact .contact-map iframe {

    outline: 3px ridge black;
    border-radius: 5px;
}

/* --------------------------------------------------- */

#section-contact .contact-form {

    background-color: #555;
    padding: 3rem 3rem;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#section-contact .contact-form div {

    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#section-contact .contact-form input, #section-contact .contact-form textarea {
    
    background: transparent;
    padding: 2rem 0 1rem 0;
    border: 0;
    border-bottom: 1px solid rgba(180, 178, 178, 0.692);
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.678);
    outline: 0;
}


#section-contact .contact-form input[type="submit"] {

    display: block;
    margin: 3rem auto 1rem auto;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
    background-color: #f1c40f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
}


#section-contact .contact-form input[type="submit"]:hover { background-color: #a08104; }

/*** ⬆️ Section des Contacts ⬆️ ***/

/* --------------------------------------------------- */

/*** ⬇️ Footer ⬇️ ***/

footer {

    background: #444;
    padding: 5rem 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}

footer p { margin-bottom: 0; }

footer #info-footer {
    
    display: flex;
    justify-content: space-around;
    width: 40%;
}

footer #info-footer p {
    
    font-weight:  bold;
    width: fit-content;
    overflow-x: hidden;
    cursor: pointer;
}

footer #info-footer p:first-child:hover { text-decoration: underline; }

footer #info-footer strong {

    font-size: 0.8rem;
}

footer #network-container {

    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 60%;
}

footer #network-container img {

    width: 32px;
    height: 32px;
    filter: invert();
    cursor: pointer;
    font-size: smaller;
}

footer #network-container img:hover {

    transition: 0.5s;
    transform: scale(1.50);
}
        
/*** ⬆️ Footer ⬆️ ***/


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */


/**********************************************/
/*        MEDIAS QUERIES (Responsive)         */
/**********************************************/

/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '1100px' ⬆️ */    
@media screen and (max-width: 1400px) {

    /*** ⬇️ Cards des Produits & Jeux ⬇️ ***/

    #section-product .container-product .product_card, #section-game .container-game .game_card {

        width: 85%;
        margin: 0 auto;
    }

    #section-game .container-game .last-card {  margin-left: 50%; }
 
    #section-product .container-product .product_cards, #section-game .container-game .game_cards {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #section-product .container-product .card, #section-game .container-game .card { width: 70%; }

    /*** ⬆️ Cards des Produits & Jeux ⬇️ ***/


    /*** ⬇️ Section Équipes ⬇️ ***/

    #section-teams .container-teams_card {

        display: flex;
        justify-content: center;
    }

    #section-teams .teams_card { width: 95% !important; } 

    /*** ⬆️ Section Équipes ⬆️ ***/


    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #section-product_game {

        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        margin-bottom: 0;
    }

    #container-product_game { 
        
        width: 200%; 
        height: auto;
    }

    #container-product_game .subcontainer-product_game .content-product_game h2 { 
            
        margin-bottom: 5px; 
        font-size: larger;
        overflow-y: hidden;
    }

    #container-product_game .subcontainer-product_game .content-product_game h2::before { bottom: 15px; }

    #container-product_game .subcontainer-product_game .content-product_game .button  { margin-bottom: 20px; }
    
    /*** ⬆️ Section des produits et jeux ⬆️ ***/
}
/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '1100px' ⬆️ */    
 
/* ----------------------------------------------------------------- */
 
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '1050px' ⬇️ */
@media only screen and (max-width: 1050px) {

    /*** ⬇️ Header ⬇️ ***/
    
    header .logo { width: 15%; }
    
    /*** ⬆️ Header ⬆️ ***/


    /*** ⬇️ Page des Jeux ⬇️ ***/

    #section-game { margin: 20% 0; }
    #section-game .container_game { flex-direction: column; }
    #section-game .container_game .subcontainer_game { margin: 3px 5px; }

    /*** ⬆️ Page des Jeux ⬆️ ***/


    /*** ⬇️ Caroussel (Slider) ⬇️ ***/

    #container_slider {

        margin-top: 12%;
        height: 360px;
    }

    #container_slider .carrousel_container { background-size: cover; }

    /*** ⬆️ Caroussel (Slider) ⬆️ ***/


    /*** ⬇️ Cards des Produits & Jeux ⬇️ ***/

    #section-product .container-product .product_card, #section-game .container-game .game_card {

        width: 80%;
        margin: 0 auto;
    }
 
    #section-product .container-product .product_cards, #section-game .container-game .game_cards {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #section-product .container-product .card, #section-game .container-game .card { width: 70%; }

    /*** ⬆️ Cards des Produits & Jeux ⬇️ ***/


    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game .subcontainer-product_game .content-product_game h2 { font-size: large; }
    #container-product_game .subcontainer-product_game .content-product_game h2::before { bottom: 15px; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/

    /*** ⬇️ Who (Qui Sommes-Nous) ⬇️ ***/

    .who {

        flex-flow: column;
        min-height: 900%;
    }
    
    .who .who-content-img { min-height: 250px; }
    
    .who-content-text { padding: 2rem; }

    /*** ⬆️ Who (Qui Sommes-Nous)  ⬆️ ***/



    /*** ⬇️ Section Contact ⬇️ ***/

    #section-contact .container-contact .contact-info .container-info .icon-contact,  #section-contact .contact-info .container-info .text-contact { 

        display: flex;
        flex-direction: column;
        font-size: smaller;
    }
    /*** ⬆️ Section Contact  ⬆️ ***/



    /*** ⬇️ Section Équipes ⬇️ ***/

    #section-teams .teams_picture img { width: 400px; }


    #section-teams .teams_picture {

        display: flex;
        justify-content: center;
        height: 500px;
        margin: 0 auto;
    } 

    #section-teams .container-teams_card {

        display: flex;
        justify-content: center;
    }

    #section-teams .container-teams_card .teams_card {
        
        width: 95%;
        height: 100%;
        position: absolute;
        bottom: -400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
    }

    #section-teams .container-teams_card .teams_card .card {

        width: 200px !important;
        height: 200px !important;
    }

    /*** ⬆️ Section Équipes ⬆️ ***/
}
/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '1050px' ⬆️ */    

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '1025px' ⬇️ */ 
@media screen and (max-width: 1025px) {

    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game .subcontainer-product_game .content-product_game #title_product::before { bottom: 0px; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/
    
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '1025px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '950px' ⬇️ */ 
@media screen and (max-width: 950px) {


    /*** ⬇️ Header ⬇️ ***/

    header { height: 15vh; }
    header .logo { width: 15%; }
    
    header .navbar { display: block !important; }
    header .navbar-line { display: none !important; }

    /*** ⬆️ Header ⬆️ ***/


    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game .subcontainer-product_game .content-product_game #title_product { margin-bottom: 10px; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/
    
    
    /*** ⬇️ Section Contact ⬇️ ***/

    #section-contact { 
        
        padding: 400px 0 100px 0; 
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #section-contact .container-contact { 

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #section-contact .container-contact .contact-info { width: 100%; }
    
    #section-contact .container-contact .contact-info .container-info  { 
        
        justify-content: space-evenly;
        align-content: center;
        width: 100%;
        line-height: normal;
        margin: 15px 5px 30px 0;
    }

    #section-contact .container-contact .contact-info .container-info .icon-contact { gap: 20px; }

    #section-contact .container-contact .contact-info .container-info .icon-contact, #section-contact .container-contact .contact-info .container-info .text-contact {  margin: 0; }

    #section-contact .container-contact .contact-info .container-info .text-contact p { font-size: small; }

    #section-contact .container-contact .contact-info .container-info .text-contact p:first-child { line-height: 15px !important; }

    #section-contact .container-contact .contact-map { 

        display: flex;
        justify-content: center;
        width: 100%; 
    }
    
    #section-contact .container-contact .contact-map iframe { width: 90%; }

    #section-contact .contact-form { 

        width: 95%; 
        padding: 3rem 2rem;
    }

    /*** ⬆️ Section Contact  ⬆️ ***/


    
    /*** ⬇️ Footer ⬇️ ***/

    footer {

        padding: 10px 5px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    footer #info-footer {
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    footer #info-footer p {
        
        font-size: small;
    }
            
    /*** ⬆️ Footer ⬆️ ***/
    
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '950px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '915px' ⬇️ */ 
@media screen and (max-width: 915px) {
    
    /*** ⬇️ Header ⬇️ ***/

    header { height: 15vh; }
    header .logo { width: 15%; }

    /*** ⬆️ Header ⬆️ ***/


    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game .subcontainer-product_game .content-product_game { padding: 30px 10px; }
    #container-product_game .subcontainer-product_game .content-product_game #title_game::before { bottom: 0; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/
    
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '915px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '856px' ⬇️ */ 
@media screen and (max-width: 856px) {


    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game .subcontainer-product_game .content-product_game { padding: 20px 5px; }
    #container-product_game .subcontainer-product_game .content-product_game #title_game::before { bottom: 0; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/
    
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '856px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '800px' ⬇️ */ 
@media screen and (max-width: 800px) {

    /*** ⬇️ Section des produits et jeux ⬇️ ***/

    #container-product_game  { 
        
        height: 1800px; 
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: unset;
        box-shadow: none;
    }

    #container-product_game .subcontainer-product_game { 
        
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: #333;
        box-shadow: 0px 0px 10px 2px rgba(103, 62, 153, 0.6);
        border-radius: 10px;
    }

    #container-product_game .subcontainer-product_game .image-product_game img { 

                        /* -------------------- */

        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

                        /* -------------------- */

        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #container-product_game .subcontainer-product_game .image-product_game { border-top: rgba(255, 255, 255, 0.721) solid 1px; }

    #container-product_game .subcontainer-product_game:last-child .image-product_game { order: 1; }


    #container-product_game .subcontainer-product_game .content-product_game, #container-product_game .subcontainer-product_game .image-product_game { width: 100%; }


    #container-product_game .subcontainer-product_game .content-product_game h2::before { bottom: 20px !important; }

    /*** ⬆️ Section des produits et jeux ⬆️ ***/
    
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '800px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '750px' ⬇️ */ 
@media screen and (max-width: 750px) {

     /*** ⬇️ Header ⬇️ ***/

     header { height: 15vh; }
     header .logo { width: 20%; }
 
     /*** ⬆️ Header ⬆️ ***/

        
    /*** ⬇️ Section pour l'Équipe ⬇️ ***/

    #section-teams { padding-top: 10px; }

    /*** ⬆️ Section pour l'Équipe ⬇️  ***/
}
/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '750px' ⬇️ */ 

/* ----------------------------------------------------------------- */

/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '560px' ⬆️ */
@media screen and (max-width: 560px) {
        
    
    /*** ⬇️ Titre Slider ⬇️ ***/

    .container-title { margin: 0 15px; }
    .title { font-size: larger !important; }
    .slogan { font-size: medium !important; }
    
    /*** ⬆️ Titre Slider ⬆️ ***/


    /*** ⬇️ Cards d'Infos ⬇️ ***/

    .card_text { font-size: small;}

    /*** ⬆️ Cards d'Infos ⬆️ ***/


    /*** ⬇️ Cards des Produits & Jeux ⬇️ ***/

    #section-product .container-product .product_card, #section-game .container-game .game_card { width: 100%; }
    

    #section-product .container-product .product_cards, #section-game .container-game .game_cards {

        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }

    #section-product .container-product .card, #section-game .container-game .card { width: 100%; }

    /*** ⬆️ Cards des Produits & Jeux ⬇️ ***/
}
/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '560px' ⬆️ */    

/* ----------------------------------------------------------------- */

/* ⬇️ Stylisation jusqu'à une taille d'écran maximal de '470px' ⬇️ */   
@media screen and (max-width: 470px) {
        
    /*** ⬇️ Header ⬇️ ***/

    header { height: 15vh; }
    header .logo { width: 25%; }

    /*** ⬆️ Header ⬆️ ***/

        
    /*** ⬇️ Cards des Produits & Jeux ⬇️ ***/

    #section-product .container-product .product_card, #section-game .container-game .game_card { width: 100%; }
 
 
    #section-product .container-product .product_cards, #section-game .container-game .game_cards {

        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }
 
    #section-product .container-product .card, #section-game .container-game .card { width: 100%; }
    
    /*** ⬆️ Cards des Produits & Jeux ⬇️ ***/


    /*** ⬇️ Section pour l'Équipe ⬇️ ***/

    #section-teams .teams_picture img { width: 300px; }


    #section-teams .teams_picture {

        height: 300px;
        width: 300px;
    } 

    #section-teams .container-teams_card .teams_card { bottom: -250px; }

    #section-teams .container-teams_card .teams_card .card {

        width: 150px !important;
        height: 150px !important;
    }
    
    #section-teams .teams_card .card .card_picture {

        width: 100px;
        height: 100px;
    }

    /*** ⬆️ Section pour l'Équipe ⬇️  ***/
}
/* ⬆️ Stylisation jusqu'à une taille d'écran maximal de '470px' ⬆️ */   

 
/**********************************************/
/*        MEDIAS QUERIES (Responsive)         */
/**********************************************/
